<div class="container">
  <app-traffic-light class="top" [startColor]='red' [position]='horizontal' [emergency] = 'emergency'></app-traffic-light>
  <app-traffic-light class="left" [startColor]='green' [position]='vertical' [emergency] = 'emergency'></app-traffic-light>
  <button [disabled]="cooldown" (click)="alarm()">Emergency</button>
  <app-traffic-light class="bottom" [startColor]='red' [position]='horizontal' [emergency] = 'emergency'></app-traffic-light>
  <app-traffic-light class="right" [startColor]='green' [position]='vertical' [emergency] = 'emergency'></app-traffic-light>
</div>
 